@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar {
    cursor: pointer !important;
    &::-webkit-scrollbar {
      height: 6px;
      width: 6px;
      padding-block: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--bg-body);
      border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--blue-color);
      border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--blue-color-darken);
      border-radius: 999px;
    }
  }
  .clip-heart {
    clip-path: polygon(51% 0, 100% 0, 100% 22%, 100% 54%, 100% 100%, 50% 100%, 0 100%, 0 69%, 0 36%, 0 0);
    transition: clip-path 0.5s ease;
    cursor: pointer;
    &:hover {
      clip-path: polygon(51% 25%, 77% 13%, 98% 33%, 96% 57%, 72% 83%, 50% 100%, 26% 82%, 8% 57%, 3% 33%, 25% 13%);
      img {
        animation: scaleUpAndDown 2s;
      }
    }
  }

  .hr-full {
    height: 1.5px;
    width: calc(100% + 20px);
    background-color: #262626;
    @apply mt-80 mb-40;
    @screen md {
      width: calc(100% + 60px);
    }
    &--white {
      background-color: #e4e1e1;
      @apply mt-0 mb-40;
    }
  }
  .btn-primary {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 300;
    color: black;
    background-color: #f0f0f0;
    padding: 15px 20px;
    border-radius: 999px;
    transition: color 0.2s ease;
    &:hover,
    &.active {
      color: #fd0000;
    }
  }
}
