.modal-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-overlay);
  z-index: 100;
  opacity: 0;
  scale: 0;
  transition:
    scale 0.12s ease,
    opacity 0.2s ease;
  @apply backdrop-blur-sm;

  &.active {
    opacity: 1;
    scale: 1;
  }
}
.modal {
  position: relative;
  z-index: 1000;
}
