.nav-link {
  display: flex;
  height: fit-content;
  line-height: 1.5;
  color: var(--text-tertiary);
  position: relative;
  transition: color 0.2s ease;
  @apply text-neg-5-16 font-light;

  &::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-tertiary);
    scale: 0;
    transition: scale 0.2s ease;
  }

  &:hover::after {
    scale: 1;
  }

  &--mobile {
    @apply text-neg-5-24 font-light;
  }
}

.btn-lang {
  display: flex;
  align-items: center;
  height: fit-content;
  line-height: 1.5;
  color: var(--text-tertiary);
  @apply text-neg-5-16 font-light gap-3;

  .vue-svg-container {
    transform: translateY(2px);
    transition: transform 0.2s ease;
  }

  &.active .vue-svg-container {
    transform: rotate(180deg);
  }
}

.menu-lang {
  position: relative;

  ul {
    position: absolute;
    color: var(--text-tertiary);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;

    &.active {
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }
  }

  &--mobile {
    ul {
      right: 0;
      padding-top: 5px;

      li {
        text-align: right;
      }
    }
  }
}

.btn-contact {
  background-color: #ffffffbb;
  @apply text-neg-5-14 font-light px-32 py-12 rounded-full;

  &--mobile {
    color: var(--text-primary);
    @apply mt-auto mb-40;
  }
}
